PORT=4000
MONGO_URI=mongodb://localhost:27017/mern_facebook
FB_APP_ID=YOUR_APP_ID
FB_APP_SECRET=YOUR_APP_SECRET
FB_REDIRECT_URI=https://fb-gsoz.onrender.com/auth/facebook/callback
JWT_SECRET=replace_with_strong_secret
FRONTEND_URL=https://fb-kappa-three.vercel.app